/////////////////// Mixins - In this case used for cross browser hacks .///////////////////
// Browser hacks
// Please not that the non prefixed tag sits at the bottom, this is to tell a browser to use it's newer tag if it's available after going through deprecated tags
@mixin borderRadius($arg...) {
	-webkit-border-radius: $arg;
	-moz-border-radius: $arg;
	border-radius: $arg;
}
@mixin boxShadow($arg...) {
	-webkit-box-shadow: $arg;
	-moz-box-shadow: $arg;
	box-shadow: $arg;
}
@mixin boxSizing($arg...) {
	-webkit-box-sizing: $arg;
	-moz-box-sizing: $arg;
	box-sizing: $arg;
}

// Gradients
@mixin whiteGradient {
	background: #fdfdfd;
	background-image: -o-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 31%);
	background-image: -moz-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 31%);
	background-image: -webkit-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 31%);
	background-image: -ms-linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 31%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(240, 240, 240)), color-stop(0.31, rgb(255, 255, 255)));
	background-image: linear-gradient(bottom, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 31%);
}

// Dissmiss Message and X + Message

@mixin infoMessage {
	background: #F6F6F6;
	border: 1px solid #ddd;
}
@mixin warningMessage {
	background: #ffebe9;
	border: 1px solid #FFCCC9;
}
@mixin alertMessage {
	background: #fff8ce;
	border: 1px solid #DEDDAF;
}
@mixin casualMessage {
	background: #CFECFF;
	border: 1px solid #ABDAFB;
	color: #1E79A7;
}

// Repeated styles, needed to hack over Vanilla
@mixin buttonBase($backgroundAlt) {	// This handles the base "white" style gradient you see on buttons in vanilla, $backgroundAlt is the colour that is shown if the browser doesn't support gradients
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	color: #333;
	text-shadow: 0 0 1px #fff;
	white-space: nowrap;
	border-color: #999;
	border: 1px solid #999;
	background: $backgroundAlt;
	@include borderRadius(2px);
	@include whiteGradient;
}

///////////////////////////// Variables - colours gradients etc./////////////////////////////

// Font Variables
$font: 'lucida grande','Lucida Sans Unicode', tahoma, sans-serif;
$fontAlt: "helvetica neue", helvetica, arial, sans-serif;
$fontCode: monospace;

$link: #1e79a7;
$linkHover: #ff0084;

// General Styles
$pageWidth: 960px;