@mixin borderRadius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}

/* ================================ Garden ================================= */

@import "includes/_reset"; /* Done */
@import "includes/_grid"; /* Done */
@import "includes/_panel"; /* Done */
@import "includes/_general"; /* Done */
@import "includes/_input";
@import "includes/_buttons";
@import "includes/_msic";
@import "includes/_header";
@import "includes/_fperrors";
@import "includes/_siderbars";
@import "includes/_datalist";
@import "includes/_activity";
@import "includes/_messagelist";
@import "includes/_categories";
@import "includes/_profile";
@import "includes/_cropper";
@import "includes/_commentform";
@import "includes/_popups";
@import "includes/_legal"; /* Done */
@import "includes/_footer"; /* Done */

/* ================================ Vanilla ================================= */

@import "includes/_discussions"; /* Done */
@import "includes/_tableview";
@import "includes/_blocks"; /* Done */
@import "includes/_vforms";
@import "includes/_conversations";
@import "includes/_entry";
@import "includes/_error"; /* Done */
@import "includes/_inform";
@import "includes/_sprites"; /* Done */
@import "includes/_embed"; /* Done */
@import "includes/_reactions";
@import "includes/_media";
@import "includes/_overrides"; /* Done */
@import "includes/_token-input";