/* ===================================== Buttons and everything inbetween */
// This is the styling for all the buttons "whiteGradient" can be edited in _config and is only used in this sub stylsheet, using an element inspector you can discover more elements to style that use the button base class "Button.Primary, Button.Cancel, Button.Preview" and a few others; you could also add sprites using the :before selector for the element that holds the text in a button
.Button {
	@include buttonBase(#f8f8f8);
	@include boxShadow (nset 0 1px 0 white, inset 0 -1px 2px #bbbbbb);
	margin: 0;
	font-size: 12px;
	line-height: 1;
	padding: 4px 6px;	
	&:hover {
		color: #111;
		border-color: #666;
	}
	&:focus, &:active {
		border-color: #aaa;
		background: #f7f7f7;
		@include boxShadow(none);
	}
	&.Disabled {
		opacity: .5;
	}
	&.FileInput {
		position: relative;
		overflow: hidden;
	}
}


.NavLabel {
	font-weight: bold;
	margin-right: 4px;
}

.NavBar > .Button {
	@include borderRadius(0);
	border-right-width: 0;
	&:first-child {
		@include borderRadius(2px 0 0 2px);
	}
	&:last-child {		
		@include borderRadius(0 2px 2px 0);
		border-right-width: 1px;
	}
}

// Basically Dropdowns


.Button.Active, .ButtonGroup.Open .Button.Handle {
	border-color: #aaa;
	background: #f7f7f7;
	@include boxShadow(none);
}

.Button {
	&.FileInput > input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		border: solid transparent;
		border-width: 0 0 100px 200px;
		opacity: 0;
		filter: alpha(opacity = 0);
		-moz-transform: translate(-300px, 0) scale(4);
		direction: ltr;
		cursor: pointer;
	}
}

// More of utility classes here, not much use changing these
.BigButton {
	display: block;
	text-align: center;
	margin: 0 0 10px;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 10px;
}
.Buttons {
	margin-top: 10px;
}
.Buttons-Confirm {
	text-align: center;
	.Button {
		min-width: 65px;
	}
}

// The button on the profile page
.NavButton {
	@include buttonBase(#fafafa);
	@include boxShadow (0 1px 1px #ddd);
	font-size: 13px;
	line-height: 16px;
	padding: 5px 8px;	
}

// More Dropdowns
.ButtonGroup {
	&.Open .NavButton.Handle {
		background: #eee;
	}
	&.Multi > {
		.NavButton:first-child, .Button:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.NavButton.Handle, .Button.Handle {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 0;
		}
	}
}

/* Split Button Dropdown */
.NavButton.Handle .Sprite, .Button.Handle .Sprite {
	display: inline-block;
	border-style: solid;
	border-width: 4px;
	border-color: #000 transparent transparent transparent;
	position: relative;
	top: 2px;
	margin: 0;
	height: initial;
	width: initial;
	vertical-align: middle;
}

.ButtonGroup {
	&.Big {
		.NavButton.Handle .Sprite, .Button.Handle .Sprite {
			top: 0;
		}
	}
	position: relative;
	display: inline-block;
	.Dropdown {
		display: none;
		font-size: 12px;
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 1px;
		z-index: 100;
	}
	&.DropRight .Dropdown {
		right: 0;
		left: auto;
	}
}

#Panel .ButtonGroup .Dropdown {
	right: 0;
}

.ProfileOptions .ButtonGroup .Dropdown {
	left: auto;
	right: 0;
}

.ButtonGroup {
	&.Open .Dropdown {
		display: block;
	}
	&.Big {
		.NavButton, .Button {
			font-size: 15px;
			padding: 8px;
			text-align: center;
		}
		display: block;
		white-space: nowrap;
	}
}

#Panel .ButtonGroup.Big > {
	.NavButton:first-child, .Button:first-child {
		width: 78%;
	}
}