/* ================================================= CommentForm */
// When posting a new comment, Vanilla uses this, only uses could be changing styling of .Preview , as a majority of the elements are utility based
.Preview { // This is the wrapper that contains comment previews, don't change too many post elements such as h1 here; as it could confuse users!
	background: $pageBackground;
	color: $fontColour;
	padding: 4px;
	min-height: 100px;
}
.CommentForm .FormWrapper {
    padding: 10px 10px 10px 60px;
	&.WriteButton,
	&.PreviewButton,
	&.DraftButton {
		margin: 0 6px;
	}
}
.Form-Header {
	.Username {
		display: none;
	}
	.Author .PhotoWrap {
		margin: 10px 0 0 10px;
	}
}
.EditCommentForm {
	margin: 10px 0;
	.FormWrapper {
		padding: 10px;
	}   
}

// Non sass formatted here, as elements are tied

.EditCommentForm textarea.TextBox,
.CommentForm textarea.TextBox {
    min-height: 50px;
    height: 50px;
}
.EditCommentForm .Buttons,
.CommentForm .Buttons {
	position: relative;
   	text-align: right; 
	margin: 0;
	padding: 6px 0;
}