/* ================================================ DataList */
/* Note: DataList is used in search results, vanilla discussions & drafts */
.SearchForm {
	margin: 20px auto;
	.InputBox {
		width: 100%;
		box-sizing: border-box;
		font-size: 14px;
		padding: 6px 25px 6px 8px;
		@include borderRadius(.35ex);
		border: solid 1px #bbb;
	}
	.SiteSearch {
		max-width: 600px;
		margin: 0;
		.Button {
			top: 8px;
			right: 6px;
		}
	}
}

.Empty {
	margin: 10px 0;
}

.DataList .Item, .NarrowList .Item {
	margin: 0;
	padding: 8px;
	border: 0px solid #ddd;
	border: 0px solid rgba(0, 0, 0, 0.1);
	border-bottom-width: 1px;
	position: relative;
}
.DataList .Item .Item {
	border: none;
}
.Item-Icon {
	float: left;
	margin: 0 10px 10px 0;
}
.Item {
	h2, h3, h4, h5 {
		margin: 0;
	}
}

#latest {
	float: left;
	margin: -10px;
}

.DataList .Title {
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin: 0;
}

.ItemDiscussion .Meta, .DataList .Meta {
	font-size: 11px;
	color: #70727c;
}

.MItem {
	margin-left: 8px;
	margin-right: 8px;
	white-space: nowrap;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.CommentInfo {
	line-height: 1.5;
}

.Item .AuthorInfo {
	font-size: 11px;
}

.DataList .Excerpt {
	font-size: 12px;
	line-height: 1.4;
	margin: 5px 0;
	p {
		display: inline;
		padding: 0;
	}
}

.HasNew {
	@include borderRadius(2px);
	background: #FF0;
	color: #000;
	font-size: 9px;
	font-weight: bold;
	padding: 3px;
	line-height: 1;
	white-space: nowrap;
}
.JustNew {
	display: none;
}

.Item {
	&.Read {
		background: #f3f3f3;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity = 90);
		opacity: .9;
		&:hover {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity = 100);
			opacity: 1;
		}
		.Title, .BlockTitle {
			font-weight: normal;
		}
	}
	&.Checked {
		background: #ffc;
	}
	&.Open {
		z-index: 200;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(enabled=false)" !important;
		filter: alpha(enabled = false) !important;
		opacity: 1 !important;
	}
}


.DataList a.Delete {
	@include borderRadius(0);
	color: #333;
	display: block;
	height: 14px;
	margin: 0;
	padding: 2px 4px;
	width: auto;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	visibility: hidden;
	&:hover {
		text-decoration: none;
		border: none;
		background: #333;
		color: #fff;
		visibility: visible;
	}
}
.Item:hover a.Delete {
	visibility: visible;
}

/* Condensed datalists make the main link & excerpt inline. */
.DataList .Unfollow {
	background: #eee;
	a {
		color: #888;
	}
}

.Item {
	.Inset {
		border-top: 1px solid #bec8cc;
		padding: 5px 0;
	}
	.Author a {
		font-size: 15px;
		font-weight: bold;
	}
}

.Condensed {
	.Title, a.Title {
		display: inline;
		padding: 0;
	}
	.Excerpt {
		display: inline;
	}
}

.PopList {
	.Item {
		padding: 4px;
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.ItemContent {
		margin: 0 0 0 48px;
		line-height: 1.4;
	}
	.Meta {
		color: #777;
		font-size: 80%;
	}
	.Center {
		padding: 0;
		a {
			display: block;
			padding: 4px 0;
		}
	}
	.Item {
		&:hover {
			background: rgba(0, 0, 0, 0.03);
		}
		&.Title {
			&:hover {
				background: inherit;
			}
			font-size: 12px;
			padding: 2px 4px;
			a {
				float: right;
				font-size: 11px;
			}
		}
	}
	.Empty {
		border: none;
	}
}

/* /me actions */
.MeAction {
	.AuthorAction {
		display: inline;
		margin: 0 6px;
		font-size: 15px;
		font-weight: bold;
	}
	.Item-Header {
		margin-bottom: 8px;
	}
	.Message {
		display: none;
	}
}

.Hero {
	background: #f7f7f7;
	background: rgba(0, 0, 0, 0.03);
	padding: 20px;
	margin: 10px 0 20px;
	@include borderRadius(6px);
	h3 {
		font-size: 24px;
		font-weight: normal;
	}
}

.ChildCategoryList {
	overflow: hidden;
	margin-bottom: 8px;
	.Item {
		float: left;
		width: 50%;
		padding: 0;
		&:nth-child(odd) {
			clear: left;
		}
	}
	.ItemContent {
		padding: 8px 0 0;
	}
}