/* ============================================================== Discussions */
// Discussion listing, style tags here, nothing else that really needs changing
/* Note: The Vanilla Discussion List has the following classes applied to
  individual list elements and can be styled:
  + Bookmarked: the user has bookmarked that topic
  + Announcement: the discussion has been announced
  + Mine: the user created the discussion
  + New: there are new comments since the last viewed the discussion
*/
.Tag {
	background: #777777;
	@include borderRadius(2px);
	color: #fff;
	padding: 1px 4px;
	line-height: 14px;
	a {
		color: #fff;
	}
	&.Closed {
		background: #555;
	}
	&.Category {
		background: #f0f0f0;
		font-weight: normal;
		a {
			color: #000;
		}
	}
	&.Tag-Banned {
		background-color: #C70028;
	}
}
.Discussion .PageTitle h1 {
	font-size: 24px;
	line-height: 1.2;
}
.ItemDiscussion {
	margin-bottom: 12px;
  	padding: 8px;
	.Message {
		margin-bottom: 5px; /* Consistency with when only h1 starts page */
		font-size: 110%;
	}
}
.DiscussionHeader {
   margin: 5px 0 10px;
}
.BeforeCommentHeading {
   float: right;
}