/* ============================= Embedded Discussion & Comment Customizations */
// This is what the Embed Comments page uses, not much need to customize stuff here; unless you need to make it fit with your site's theme
body.embed {
	#Content {
		float: none;
  	 	margin: 0;
		width: auto;
	}
	.InformMessages {
		display: none;
	}
}

.EmbedCommentForm {
	padding: 0;
	border-top: 1px solid #ffffff;
	.TextBox {
		width: 100%;
		height: 50px;
		min-height: 50px;
		padding: 3px;
		@include borderRadius(0);
		font-size: 12px;
	}
	.Author {
		display: inline-block;
		font-size: 11px;
		color: #777;
		padding: 0 8px 0 0;
	}
	input.Button {
		font-size: 12px;
	}
}
.Embed {
	.Buttons {
		font-size: 11px;
		text-align: right;
	}
	.Foot {
		background: none;
		border: none;
		text-align: right;
	}
	.MorePager {
		padding: 2px 8px 4px;
		a {
			background: none;
			border: none;
			padding: 0;
			&.Loading,
			&.Loading:hover {
				text-decoration: none !important;
			}	
		}
	}
	.Administration {
		display: none;
	}
}