/* ============================= Error Messages */
* html .Errors {
	position: inherit;
	width: auto;
	top: auto;
	left: auto;
	overflow: auto; 
}
.Errors {
	text-align: left;
	position: inherit;
	top: auto;
	left: auto;
	z-index: auto;
	margin: 0 0 10px !important;
	ul {
		border: 1px solid #a00 !important;
		background: #d50a0a !important;
		padding: 6px 10px;
		display: block;
		@include borderRadius(2px);
		li {
		color: #fff !important;
		background: #d50a0a !important;
		text-align: left;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
	pre {
		margin: 10px 0 5px;
		padding: 4px 8px;
		display: block;
		@include borderRadius(2px);
		white-space: pre;
		overflow: auto;
	}
	pre,
	pre * {
		background: #ffa !important;
		font-size: 12px !important;
		font-weight: normal !important;
		font-family: $fontCode !important;
		text-shadow: none !important;
		color: #333  !important;
		line-height: 1.4 !important;
	}
	pre * {
		margin: 0 !important;
		padding: 0 !important;
	}
}

/* Popups */

div.Popup .Errors {
	text-align: left;
	position: inherit;
	top: auto;
	left: auto;
	z-index: auto;
	margin: 10px 0 !important;
	ul {
		display: block;
		@include borderRadius(2px);
		border: 1px solid #a00 !important;
	}
}
