/* =================================================================== Footer */
// This is the footer container, it generally only contains the watermark. However it could be used to link your site's terms.
#Foot {
   clear: both;
   text-align: center;
   margin: 20px 0 0;
   padding: 4px 9px;
   font-size: 13px;
   color: #ddd;
   line-height: 1;
	a {
   	color: #ccc;
		&:hover {
  		 color: #aaa;
		}
	}
}
// This is the watermark that appears in the footer, you can set the size of it here, you could even redesign it to fit with you site's theme. But using css to hide it; seems a little unkind to the dev team
.PoweredByVanilla {
   display: inline-block;
   height: 33px;
   width: 70px;
   background: url('images/vanilla-forums-dark-bg-70x33.png') center center no-repeat;
   background: url('images/vanilla-forums-light-bg-70x33.png') center center no-repeat;
   line-height: 999px;
   color: transparent;
   overflow: hidden;
   font-size: 0;
}