/* ======================================================== Full Page Errors */
// These are bonk messages, not much point editing anything here; unless you want to make it suit your site's theme
.SplashMessage {
	#Body h1 {
		font-size: 64px;
    	line-height: 1.4;
	}
	#Message {
		font-size: 18px;
		margin-bottom: 3em;
	}
	.SplashInfo {
		max-width: 640px;
		margin: auto;
	}
}