/* ======================================================== Full Page Errors */
.SplashMessage
	#Body h1 {
		font-size: 64px;
    	line-height: 1.4;
	}
	#Message {
		font-size: 18px;
		margin-bottom: 3em;
	}
	.SplashInfo {
		max-width: 640px;
		margin: auto;
	}
}