/* ============================================== General Styles & Typography */
// Most themes will change alot of stuff here, 
body {
	color: #000;
	font-family: $font;
	font-size: 75%;
	line-height: 1.7em;
	background: #fff;
	margin: 0;
	padding: 0;
	font-size: small;
}
#Body {
	zoom: 1; /* hasLayout for IE6/7 */
	&:after { /* clearfix */
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}
// Don't change these
.Invisible {
	opacity: 0;
}
.ClearFix { 
	display: inline-table;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
/* Hides from IE-mac \*/
* html .ClearFix { height: 1%; }
.ClearFix { display: block; }
/* End hide from IE-mac */
.nowrap {
   white-space: nowrap;
}
.Center {
	text-align: center;
}
.Right {
	text-align: right;
}

// Make sure you keep ratios between these things if you edit them; maybe making them larger depending on what font you use

h1, h2, h3, h4, h5, h6 {
   font-family: $font;
   font-weight: bold;
   margin: 5px 0;
}
p 
.P,{
   margin: 5px 0;
}
h1 {
   font-size:140%;
}
h2 {
   font-size:120%;
}
h3 {
   font-size:110%;
}
h4 {
   font-size: 110%;
}
h5 {
   font-size: 100%;
}
// Links, you may need to do some overriding in other places depending on element selectors
// Values for colours can be changed in _config
a {
   text-decoration: none;
   color: $link;
	&:hover,
	&.TextColor:hover,
	&:hover .TextColor {
   		color: $linkHover;
	}
}
a.TextColor, a .TextColor {
   color: black;
}
img.Thumbnail {
	max-height: 300px;
	max-width: 100px;
	float: left;
	margin: 0 16px 0 0;
}