/* ===================================================================== Grid */
// This basically sets the page width
// Could be used to make the main content wider, if you prefer that style of forum
.Row {
   margin: auto;
   width: 960px;
}
#Body .ContentColumn {
   margin: 0 0 0 230px
}