/* =================================================================== Header */
// Used for the top Navbar
// useful if you want to make the forum match a parent site
// Make sure to watch positioning of the search box
// This page also contains some mebox stuff, although most of it is @ _sidebars
#Head {
	background: #38abe3;
	color: #fff;
	a {
		color: #fff;
		font-weight: bold;
	}
}

/* Targetting the padding on head in this way b/c it was causing problems in older themes */
body > #Frame > .Head {
	padding: 16px 3px 3px;
}

.SiteTitle {
	font-family: $fontAlt;
	font-weight: bold;
	font-size: 24px;
	margin-right: 6px;
}
.SiteMenu {
	display: inline;
	white-space: nowrap;
	li {
		display: inline;
	}
	a {
		font-size: 11px;
		padding: 6px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.SiteSearch {
	position: relative;
	.InputBox {
		padding: 5px 25px 5px 5px;
		font-size: 11px;
	}
	.Button {
		background: url('images/sprites.png') 0 -196px no-repeat transparent;
		height: 16px;
		width: 16px;
		overflow: hidden;
		line-height: 999px;
		color: transparent;
		font-size: 0;
		border: none;
		position: absolute;
		top: 4px;
		right: 4px;
		@include boxShadow(none);
		padding: 0;
	}
}
#Head .SiteSearch {
	float: right;
	.InputBox {
		border: none;
		width: 175px;
	}
}

/* Option (dropdown) Menus, Bookmark stars, admin checkboxes */
.ControlOptions, .Options {
	float: right;
}

.CategoryLink {
	padding: 2px 4px;
	font-size: 11px;
	background: #CFECFF;
	@include borderRadius(1px);
}

.PageTitle .Options {
	height: 10px;
}
.OptionsMenu {
	font-size: 10px;
	font-weight: normal;
	line-height: 100%;
}
.OptionsTitle {
	user-select: none;
	background: url("images/ui_sprites.png") no-repeat 0 -101px;
	height: 20px;
	overflow: hidden;
	padding: 0;
	width: 21px;
	height: 18px;
	display: inline-block;
	vertical-align: top;
	line-height: 999px;
	/* Set it higher than your image height */
	overflow: hidden;
	/* Hide the text */
	font-size: 0;
	/* FF2 doesn’t like the above */
	cursor: pointer;
}

.Item {
	.OptionsTitle {
		visibility: hidden;
	}
	&:hover .OptionsTitle, &.Open .OptionsTitle {
		visibility: visible;
	}
}

.Flyout {
	&:before {
		border-bottom: 7px solid #444444;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		content: "";
		left: 9px;
		position: absolute;
		top: -7px;
	}
	&:after {
		border-bottom: 7px solid #444444;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		content: "";
		left: 9px;
		position: absolute;
		top: -7px;
		border-bottom: 7px solid #fff;
		top: -6px;
	}
}
.OptionsMenu .Flyout {
	&:before, &:after {
		left: inherit;
		right: 14px;
	}
}
.MenuItems {
	line-height: 100%;
	font-size: 11px;
	border: 1px solid #999;
	@include borderRadius(2px);
	background: #fff;
	padding: 5px 0;
	@include boxShadow( 0 5px 10px rgba(0, 0, 0, 0.2));
	a {
		display: block;
		text-decoration: none;
		white-space: nowrap;
		color: #333 !Important;
		padding: 3px 15px;
		line-height: 18px;
		&:link, &:visited, &:active {
			display: block;
			text-decoration: none;
			white-space: nowrap;
			color: #333 !Important;
			padding: 3px 15px;
			line-height: 18px;
		}
		&:hover {
			color: #ffffff !Important;
			text-decoration: none;
			background-color: #004D9F !Important;
			.Gloss {
				color: #ffffff !important;
			}
		}
	}
	li > strong {
		font-size: 12px;
		padding: 3px 10px;
		line-height: 18px;
	}
	hr {
		border: 0;
		border-bottom: 1px solid #ddd;
	}
}

.MenuItems.Up:before,
.MenuItems.Up:after {
	border-top: 7px solid #444444;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	left: 71px;
	position: absolute;
	bottom: -7px;
}
.MenuItems.Up:after {
	border-top: 7px solid #fff;
	bottom: -6px;
}

.ToggleFlyout {
	position: relative;
	&.Open {
		z-index: 110;
		/* above Item:hover */
	}
	.Flyout {
		position: absolute;
		top: 100%;
		/* right: -10px; This causes text overflows when flyout items are long */
		display: none;
	}
}
.OptionsMenu .Flyout {
	top: 18px;
	right: -9px;
}
.Flyout .Author .PhotoWrap {
	margin: 0;
}
.FlyoutMenu {
	width: 300px;
	background: #fff;
	color: #000;
	@include borderRadius(2px);
	@include boxShadow( 0 5px 10px rgba(0, 0, 0, 0.2));
	border: solid 1px #999;
	a {
		color: #00419b;
	}
}
.FlyoutButton {
	cursor: pointer;
}
.FlyoutLeft .Flyout {
	right: inherit;
}
.DropHandle {
	display: inline-block;
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 4px;
	border-color: #000 transparent transparent transparent;
	position: relative;
	bottom: -2px;
}
.SelectFlyout {
	display: inline-block;
	cursor: pointer;
	.Flyout {
		&:before, &:after {
			display: none;
		}
	}
}

.MeBox {
	.Flyout {
		right: inherit;
		left: -4px;
		top: 150%;
	}
	&.FlyoutRight .Flyout {
		left: inherit;
		right: -4px;
		&:before, &:after {
			left: auto;
			right: 9px;
		}
	}
}

a {
	&.Bookmark, &.Bookmarked, &.Bookmarking {
		display: inline-block;
		background: url('images/ui_sprites.png') 0 -2px no-repeat;
		height: 18px;
		width: 18px;
		/*	margin: 0 4px;*/
		vertical-align: top;
		overflow: hidden;
		text-indent: -1000px;
		font-size: 1px;
	}
	&.Bookmark:hover {
		background-position: 0 -22px;
	}
	&.Bookmarked {
		background-position: 0 -42px;
		&:hover {
			background-position: 0 -82px;
		}
	}
	&.Bookmarking {
		background-position: 0 -62px;
		&:hover {
			background-position: 0 -62px;
		}
	}
}

.AdminCheck {
	vertical-align: top;
	line-height: 1;
}
td.CheckBoxColumn {
	text-align: center;
}
.HomepageTitle .AdminCheck {
	padding-left: 8px;
}
.ControlOptions .AdminCheck {
	display: block;
	padding: 6px 8px 0;
}
.Opts .ControlOptions .AdminCheck {
	padding: 0;
}