/* ============================================================== MessageList */
.Author .PhotoWrap {
	margin: 0 10px 4px 0;
	float: left;
}

.Popup .Preview {
	padding: 8px;
	margin: 0;
}

body.Post .Popup a.Close {
	color: #1e79a7;
}

blockquote {
	margin: 1em 0 1em 40px;
	&.Quote {
    	padding: 1ex 16px;
   		margin: 1em 0;
   	 	background: #f3f3f3;
   	 	background: rgba(0, 0, 0, 0.05);
    	border-left: 4px solid rgba(0, 0, 0, 0.1);
  }
}

blockQuote.UserQuote {
  	padding: 1ex 16px;
  	margin: 1em 0;
  	background: #f3f3f3;
  	background: rgba(0, 0, 0, 0.05);
  	border-left: 4px solid rgba(0, 0, 0, 0.1);
}

.Message small {
  	font-size: 11px;
  	color: #777;
}

.EmbeddedContent {
  	overflow: hidden;
}

.Message img.LeftAlign, img.LeftAlign {
  	float: left;
  	margin: 0 10px 5px 0;
  	max-width: 300px;
}

.ClearFix {
  	clear: both;
}

code {
  	@include borderRadius(2px);
  	background: #ff9;
  	padding: 4px 8px;
  	white-space: pre;
  	font-family: $fontCode;
  	overflow: auto;
  	border: 1px solid #eec;
}

pre {
  	@include borderRadius(2px);
  	background: #ff9;
  	padding: 4px 8px;
	white-space: pre;
  	font-family: $fontCode;
  	overflow: auto;
	border: 1px solid #eec;
	display: block;
	margin: 1em 0;
	code {
		border: none;
		padding: 0;
	}
}

mark {
	padding: 0 2px;
	color: inherit;
	background: #ff6;
}

.Message {
	line-height: 140%;
	font-size: 100%;
	word-wrap: break-word;
	margin-top: 5px;
	h1, h2, h3, p, .P {
    margin: 10px 0;
    }
	dt {
		font-weight: bold;
		margin: 10px 0 4px;
    }
	dd {
		margin-left: 30px;
		> p {
			margin-top: 4px;
		}
	}
	li {
		margin: 5px 0;
	}
	strong, b {
		font-weight: bold;
	}
	em, i {
		font-style: oblique;
	}
	ul {
		margin: 1em 0 1em 3em;
	}
	ol {
		margin: 1em 0 1em 3em;
		li {
			list-style: decimal !important;
		}
  	}
	ul li {
		list-style: disc !important;
	}
	img {
		max-width: 100%;
	}
	.ImageResized {
		font-size: 11px;
    	font-weight: normal;
    	cursor: pointer;
    	margin-bottom: 10px;
	}
}