/* ================================= Conversation, Discussion & Comment Forms */
// Can be used to style a majority of the forms in vanilla
// Alot of these sprites aren't used in the community version; so could be dropped ( 4 to 27 )
.SpNewConversation, .SpAskQuestion, .SpNewPoll, .SpNewDiscussion {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url('images/sprites.png') 0 -68px no-repeat;
	margin: 0 5px 2px 0;
	vertical-align: middle;
}
.SpNewConversation {
	background-position: -64px -68px;
}
.SpAskQuestion {
	background-position: -48px -68px;
}
.SpNewPoll {
	background-position: -32px -68px;
}
.SpRSS {
	background: url("images/sprites.png") no-repeat -27px -46px transparent;
	display: inline-block;
	height: 14px;
	vertical-align: middle;
	width: 14px;
}

.DiscussionForm label {
	font-size: 14px;
	font-weight: bold;
	color: #666;
}

.FormWrapper {
	background: #f7f7f7;
	background: rgba(0, 0, 0, 0.03);
	margin: 0;
	padding: 20px;
	&.StructuredForm {
		padding-top: 5px;
	}
}
.FormWrapper-Condensed {
	padding: 5px;
}

.FormWrapper-Condensed .Buttons {
	text-align: right;
}
label.B {
	font-weight: bold;
}


.DiscussionForm {
	textarea {
		width: 100%;
		height: 100px;
		min-height: 100px;
		margin: 0 0 6px;
	}
	.Category, input.InputBox {
		width: 100%;
		margin-bottom: 10px;
	}
	.Category label {
		padding: 0 8px 0 0;
	}
	.PostOptions {
		li {
			display: inline;
			padding: 0 8px 0 0;
		}
		label {
			display: inline;
			font-weight: normal;
			font-size: 95%;
		}
	}
}

.StructuredForm {
	label {
		font-weight: bold;
		font-size: 14px;
		display: block;
	}
	.P {
		margin: 15px 0;
	}
	label {
		&.RadioLabel, &.CheckBoxLabel, &.Unstyled {
			font-size: 100%;
			font-weight: normal;
		}
	}
	input.hasDatepicker {
		background-image: url('images/calendar.png');
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 24px;
		&:focus {
			background-image: url('images/calendar.png');
			background-repeat: no-repeat;
			background-position: center right;
			padding-right: 24px;
		}
	}
}

.List.Inline {
	display: inline;
	* {
		line-height: 16px;
	}
}